{% extends "index.html" %}
{% block title %}Game{% endblock %}
{% block header %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/rules.css') }}">
{% endblock %}
{% block content %}
<div class="game-panel">
    <div class="center-div">
        <img id="gameScreenLogo" class="center-img" src="../../static/images/choices 2.png">
        <div class="text-right">
            <section class="message -right">
                <!-- Balloon -->
                <div class="nes-balloon from-right computer-dialogue-box text-black">
                    <p>I'm gonna win!</p>
                </div>
                <i class="nes-bcrikko"></i>
            </section>
        </div>
        <div id="choicesBox" class="center-div">
            <div class="nes-container is-rounded text-black bg-white">
                <p>Pick a Choice:</p>
                <br>
                <div class="pb-1">
                    <ul id="choicesList" class="center-text">
                        <li><button class="btn choice-btn" onclick="playGame('Rock')"><span>Rock</span></button></li>
                        <li><button class="btn choice-btn" onclick="playGame('Paper')"><span>Paper</span></button></li>
                        <li><button class="btn choice-btn" onclick="playGame('Scissors')"><span>Scissors</span></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}