<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RPS | Start</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/start_screen.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-image resize content">
        <div class="nes-container">
            <div>
                <button type="button" class="nes-btn">1 Player</button>
            </div>
            <div>
                <button type="button" class="nes-btn">2 Players</button>
            </div>
        </div>
    </div>
</body>
</html>