{% extends "index.html" %}
{% block title %}Start{% endblock %}
{% block header %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/start_screen.css') }}">
{% endblock %}
{% block content %}
<div>
    <div class="center-div">
        <div class="nes-container is-rounded white-background">
            <h1 class="center-text blink_me">Rock Paper Scissors!</h1>
        </div>
    </div>
    <div class="center-div center-text bottom-div">
        <a href="{{ url_for('game_blueprint.play_game') }}" class="nes-btn btn"><span>1 Player</span></a>
        <button type="button" class="nes-btn btn"><span>2 Players</span></button>
        <button type="button" class="nes-btn btn"><span>Stats</span></button>
        <br>
        <br>
        <button type="button" class="btn login-btn"><span>Login</span></button>
    </div>
</div>
{% endblock %}