{% extends "index.html" %}
{% block title %}Start{% endblock %}
{% block header %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/start_screen.css') }}">
{% endblock %}
{% block content %}
<div>
    <div class="center-div">
        <div class="nes-container is-rounded white-background">
            <h1 class="center-text blink_me">Rock Paper Scissors!</h1>
        </div>
    </div>
    <div class="center-div center-text bottom-div">
        <button type="button" class="nes-btn btn"><span id="1playerButton">1 Player</span></button>
        <button type="button" class="nes-btn btn"><span id="2playersButton">2 Players</span></button>
    </div>
</div>
{% endblock %}