.game-panel {
    display: block;
    background-color: lightblue;
    height: 100%;
    width: 100%;
    margin-top: 1em;
    border-radius: 15px;
    color: white;
}

.center-div {
    margin: auto;
    width: 100%;
}

.center-img {
   display:block;
   margin:auto;
   width: 35%;
   height: auto;
}

