.white-background {
    background-color: white;
}

.center-div {
    margin: auto;
    width: 80%;
}

.center-text {
    text-align: center;
}

.btn {
    width: 12em;
    margin-right: 1em;
    margin-left: 1em;
}

.btn:hover span{
    animation: animation 1s linear infinite;
}

@keyframes animation {
  50% {
    opacity: 0;
  }
}

.bottom-div {
    padding-top: 1em;
    position: absolute;
    left: 1px;
    bottom: 0px;
    width:100%;
    height: 20%;
}

.blink_me {
  animation: blinker 5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
